<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:p="http://www.springframework.org/schema/p"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    https://www.springframework.org/schema/beans/spring-beans.xsd
    https://www.springframework.org/schema/context
    https://www.springframework.org/schema/context/spring-context.xsd">
    
    <bean class="AutowiredXml.Address" name="address">
    <property name="street" value="BTM"></property>
    <property name="city" value="Bangalore"></property>
    </bean>
    
    <bean class="AutowiredXml.Emp" name="e1" autowire="constructor"></bean>
    
    <!-- for byName referance variable name should be address like autowire="byName"-->
    <!-- for byType referance variable name same not mandatory like autowire="byType"-->
    <!-- for constructor referance variable name same not mandatory autowire="constructor"-->
    
    
    </beans>